dp_env/
.env
document_portal.egg-info
**/__pycache__
**/.ipynb_checkpoints/
venv/
__pycache__/
logs/
*.pyc
pdfs
**/test_session/
**/test_ingestion_analysis/
**/session_*/
data/single_document_chat/session_*
archive/*
faiss_index/*